.devices{
	width: 250px;
	display: inline-block;
}
.devicename{
	font-size: 20px;
	text-align: center;
}
.deviceprice{
	text-align: center;
}
.devicebuy{
	text-align: center;
}
.buyBtn {
	color: #333;
	padding: 10px 30px;
	margin: 5px 0px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	border: 1px solid #666;
	border-radius:5px;
	display: inline-block;
}
.buyBtn:hover{
	background-color: #CBCBCB;	
	transition: background .25s ease-in-out;
	-moz-transition: background .25s ease-in-out;
	-webkit-transition: background .25s ease-in-out;
}
.crt_device{
	display: block;
	border-radius:3px;
	border: 1px solid #acacac;
	padding:10px;
	margin: 10px 0;
	overflow: hidden;
}

.crt_dev_img{
	float:left;
}
.crt_prd_title{
	display: inline;
	float:left;
}
.crt_dev_title{
	font-size: 33px;
}
.crt_dev_quant{
	list-style:none;
	display: inline;
	float:right;
}
.crt_dev_quant li{
	font-size:20px;
	list-style:none;
	display: inline;
	margin-left:20px;
}
.crt_num{
	width: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	font-family:'Myriad Pro', 'Segoe UI';
	font-size:16px;
}
