.devices{
	width: 250px;
	display: inline-block;
}
.devicename{
	font-size: 20px;
	text-align: center;
}
.deviceprice{
	text-align: center;
}
.devicebuy{
	text-align: center;
}
.buyBtn {
	color: #333;
	padding: 10px 30px;
	margin: 5px 0px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	border: 1px solid #666;
	border-radius:5px;
	display: inline-block;
}
.buyBtn:hover{
	background-color: #CBCBCB;	
	transition: background .50s ease-in-out;
	-moz-transition: background .50s ease-in-out;
	-webkit-transition: background .50s ease-in-out;
}
#cartEmpty{
	text-align: center;
	font-size: 28px;
}
#cartShopping{
	display:inline-block;
	background-color:#0078d7;
	color:#FFF;
	margin-top:20px;
	text-decoration:none;
	padding:10px 20px;
	font-size: 16px;
}
.crt_device{
	display: none;
	border-radius:3px;
	border: 1px solid #acacac;
	padding:10px;
	margin: 10px 0;
	overflow: hidden;
}

.crt_dev_img{
	float:left;
}
.crt_prd_title{
	display: inline;
	float:left;
}
.crt_dev_title{
	font-size: 33px;
}
.crt_dev_quant{
	list-style:none;
	display: inline;
	float:right;
}
.crt_dev_quant li{
	font-size:20px;
	list-style:none;
	display: inline;
	margin-left:20px;
}
.crt_dev_subt{
	min-width: 100px;
	display:inline-block !important;
	margin-left:10px !important;
	text-align: right;
}
.crt_num{
	width: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	font-family:'Myriad Pro', 'Segoe UI';
	font-size:16px;
}

.crt_item_remove{
	cursor: pointer;
	color: #0070c9;
	float:right; 
	font-size: 0.9em;
}

#crt_checkout_btn{
	font-family:'Myriad Pro Light', 'Segoe UI Light';
	font-size:18px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#crt_checkout_btn:hover {
    background-color: #45a049;
}

#crt_total_amnt_container{
	font-size: 24px;
	text-align: right;
}
.overlay {
 	position: fixed;
 	top: 0;
 	bottom: 0;
 	left: 0;
 	right: 0;
 	background: rgba(0, 0, 0, 0.7);
	display:none;
	z-index: 10000; /* header +1 */
}


.popup {
  margin: 250px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

table, td, th {    
    border: 1px solid #ddd;
	text-align: center;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 5px;
}
.sum_device{
	display: none;
}
.sum_prod{
	display:flex;
	justify-content:center;
	align-items:center;
}
.sum_dev_title{
	font-size: 26px;	
}

#sum_cancel_btn{
	font-family:'Myriad Pro Light', 'Segoe UI Light';
	font-size:18px;
    background-color: #DC3739;
    color: white;
    padding: 10px 20px;
    margin: 5px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#sum_cancel_btn:hover {
    background-color: #AA1D1F;
}
.com_half{
	display: inline-block;
	width: 49.5%;
}
.com_right{
	text-align: right;
}